<div class="admin_general_configuration_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">build</i><h2>{{ 'general' | translate }}</h2>
        </div>
        <form name="form" novalidate>
            <div class="website_info">
                <h4>{{ 'site' | translate }}</h4>
                <md-select placeholder="{{ 'product_type' | translate }}" class="mg_bottom">
                    <md-option>
                        B2B
                    </md-option>
                    <md-option>
                        Store
                    </md-option>
                </md-select>
                <md-input-container>
                    <input mdInput placeholder="{{ 'site_name' | translate }}" type="text" name="website_name" value="hero">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="{{ 'site_url' | translate }}" type="text" name="website_url" value="hero.com">
                </md-input-container>
                <md-checkbox>{{ 'use_ssl' | translate }}</md-checkbox>
                <md-checkbox>{{ 'hide_products_no_alias' | translate }}</md-checkbox>
                <md-checkbox>{{ 'show_products_for_quests' | translate }}</md-checkbox>
                <md-select placeholder="Strona startowa">
                    <md-option>
                        hero
                    </md-option>
                    <md-option>
                        alfa
                    </md-option>
                </md-select>  
            </div>
            <div class="database_info">
                <h4>{{ 'database' | translate }}</h4>
               <md-select placeholder="Metoda aktualizacji bazy danych">
                    <md-option>
                        hero
                    </md-option>
                </md-select>
                <md-checkbox>{{ 'database_informations_initt' | translate }}</md-checkbox>
            </div>
            <div class="other-settings">
                <h4>{{ 'other_settings' | translate }}</h4>
                <md-checkbox>{{ 'allow_order_zero' | translate }}</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="{{ 'order_minimum_value' | translate }}" type="number" name="minimal_value_order" value="99">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'default_products_per_page' | translate }}" type="number" name="products_quantity_number" value="25">
                </md-input-container> 
                <md-checkbox>{{ 'allow_comments' | translate }}</md-checkbox>
                <md-checkbox>{{ 'use_netto_prices' | translate }}</md-checkbox>
            </div>
            <div class="diagnostic_info">
                <h4>{{ 'diagnostics' | translate }}</h4>
                <md-checkbox>{{ 'mode_details' | translate }}</md-checkbox>
                <md-checkbox>{{ 'mode_details' | translate }}</md-checkbox>
                <md-checkbox>{{ 'mode_performance' | translate }}</md-checkbox>
            </div>
            <div class="general_configuration_actions a_configuration_actions">
                    <a class="alert_btn back_dashboard_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                    <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                </div>  
            </form>
    </md-card>
</div>