<div class="admin_clients_sale_cmpt a_sale">
    <md-card>
        <div class="title">
            <i class="material-icons">group</i>
            <h2>{{ 'clients' | translate }}</h2>
        </div>
        <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
        <div class="clients_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'phone' | translate }}</th>
                        <th>{{ 'company_name' | translate }}</th>
                        <th>{{ 'notes' | translate }}</th>
                        <th>{{ 'discount' | translate }}</th>
                        <th>{{ 'subiekt_symbol' | translate}}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero@hero.com</td>
                        <td>Hero hero </td>
                        <td>12392928</td>
                        <td>HERO</td>
                        <td>-</td>
                        <td>0.00</td>
                        <td>hero</td>
                        <td class="center actions">
                            <button class="edit_btn" md-raised-button>{{ 'description_for_client' | translate }}</button>
                            <button class="blank_btn" md-raised-button>{{ 'change_password' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>