<div class="admin_stocks_sale_cmpt a_sale">
    <md-card>
        <div class="title">
            <i class="material-icons">store_mall_directory</i>
            <h2>{{ 'stocks' | translate }}</h2>
        </div>
        <div class="stocks_sale_actions a_sale_actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <a class="success_btn" [routerLink]="['/admin/sale/modify-stock']" md-raised-button>{{ 'add_new_stock' | translate }}</a>
        </div>
        <div class="stocks_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'description' | translate }}</th>
                        <th>{{ 'main' | translate }}</th>
                        <th>{{ 'external' | translate }}</th>
                        <th>{{ 'skip_synch' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HERO</td>
                        <td>hero</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td class="center actions">
                            <a class="edit_btn" [routerLink]="['/admin/sale/modify-stock', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>