<div class="admin_menu_content_management_cmpt a_content_management card_title">
    <md-card>
        <div class="title">
            <i class="material-icons">menu</i>
            <h2>Menu</h2>
        </div>
        <div class="menu_actions a_content_actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <a class="success_btn" routerLink="/admin/content-management/add-menu" md-raised-button> {{ 'menu_add' | translate }}</a>
        </div>
        <div class="menu_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>Nazwa menu</th>
                        <th>URL</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero menu <span class="data_property">{{ 'name' | translate }}</span></td>
                        <td>/hero.html <span class="data_property">link</span></td>
                        <td class="center actions">
                            <a class="edit_btn" [routerLink]="['/admin/content-management/edit-menu', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                            <button class="blank_btn" md-raised-button>Ukryj</button>
                            <button class="remove_btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>