<div class="admin_promotion_codes_sale_cmpt a_sale">
    <md-card>
        <div class="title">
            <i class="material-icons">money_off</i>
            <h2>{{ 'promo_codes' | translate }}</h2>
        </div>
        <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
        <a class="success_btn" routerLink="/admin/sale/modify-code" md-raised-button>{{ 'add_promo_code' | translate }}</a>
        <div class="promotion_codes_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>{{ 'date_added' | translate }}</th>
                        <th>{{ 'promotion_name' | translate }}</th>
                        <th>{{ 'discount' | translate }}</th>
                        <th>{{ 'active' | translate }}</th>
                        <th>{{ 'unique_codes' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0.0.0.0</td>
                        <td>Hero hero </td>
                        <td>0.00</td>
                        <td>-</td>
                        <td>-</td>
                        <td class="center actions">
                            <button class="blank_btn" md-raised-button>{{ 'download_codes' | translate }}</button>
                            <a class="edit_btn" [routerLink]="['/admin/sale/modify-code', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                            <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>