<div class="admin_contact_configuration-cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">account_box</i>
            <h2>{{ 'entity_data' | translate }}</h2>
        </div>
        <form novalidate>
            <div class="contact_info">
                <h4>{{ 'contact_details' | translate }}</h4>
                <md-input-container>
                    <input mdInput placeholder="{{ 'entity_name' | translate }}" type="text" name="contact_name" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'street_with_number' | translate }}" type="text" name="contact_address" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'postal_code' | translate }}" type="text" name="contact_postal_code" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'city' | translate }}" type="text" name="contact_city" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Bank" type="text" name="contact_bank" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'phone' | translate }}" type="text" name="contact_telephone1" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'phone2' | translate }}" type="text" name="contact_telephone2" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="NIP" type="number" name="conatct_nip" value="32321321">
                </md-input-container> 
            </div> 
        </form> 
        <div class="contact_configuration_actions a_configuration_actions">
            <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
            <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
        </div>    
    </md-card> 
</div>