<div class="admin_modify_trader_sale_cmpt a_configuration">
        <md-card>
            <div class="title">
                <i class="material-icons">account_circle</i><h2>{{ 'trader' | translate }}</h2>
            </div>
            <form name="form" novalidate>
                <div class="promo_info">
                    <md-input-container>
                        <input mdInput placeholder="{{ 'first_name' | translate }}" type="text" name="name" #name [ngModel]="trader?.name">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="{{ 'surname' | translate }}" type="text" name="surname" #surname [ngModel]="trader?.surname">
                    </md-input-container>  
                    <md-input-container>
                        <input mdInput placeholder="Email" type="text" name="email" #email [ngModel]="trader?.email">
                    </md-input-container>  
                    <md-input-container>
                        <input mdInput placeholder="{{ 'phone' | translate}}" type="text" name="phone" #phone [ngModel]="trader?.phone">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="Skype" type="text" name="skype" #skype [ngModel]="trader?.skype">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="{{ 'password' | translate }}" type="text" name="password" #password [ngModel]="trader?.password">
                    </md-input-container>  
                    <md-input-container>
                        <input mdInput placeholder="{{ 'confirm_password' | translate }}" type="text" name="confirmPassword">
                    </md-input-container>  
                </div>
                <div class="general_configuration_actions a_configuration_actions">
                        <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                        <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                    </div>  
                </form>
        </md-card>
    </div>