<div class="admin_email_configuration_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">email</i>
            <h2>{{'email_settings' | translate }}</h2>
        </div>
        <form novalidate>
            <div class="global_info">
                <h4>{{'global' | translate }}</h4>
                <md-checkbox>{{'email_global_off' | translate }}</md-checkbox>
            </div>
            <div class="smpt_config">
                <h4>{{ 'smtp_settings' | translate }}</h4>
                <md-input-container>
                    <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="smtp_name" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Email" type="text" name="smtp_email" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{'smtp_ip_or_server' | translate }}" type="text" name="smtp_name_ip" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Port" type="number" name="smtp_port" value="444">
                </md-input-container> 
                 <md-input-container>
                    <input mdInput placeholder="{{'username' | translate }}" type="text" name="smtp_username" value="hero@hero.com">
                </md-input-container> 
                 <md-input-container>
                    <input mdInput placeholder="{{ 'password' | translate }}" type="password" name="smtp_user_password">
                </md-input-container> 
                <md-checkbox>{{'use_ssl' | translate }}</md-checkbox>
            </div>
            <div class="general_configuration_actions a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button>{{ 'cancel' | translate }}</a>
                <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
            </div>
        </form>
    </md-card>
</div>