<div class="admin_newsletter_sale_cmpt a_sale">
        <md-card>
            <div class="title">
                <i class="material-icons">email</i>
                <h2>Newsletter</h2>
            </div>
            <div class="stocks_sale_actions a_sale_actions">
                <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
                <a class="success_btn" [routerLink]="['/admin/tools/modify-newsletter']" md-raised-button>{{ 'add_newsletter' | translate }}</a>
                <a class="edit_btn" routerLink="/admin/tools/newsletter-addresses" md-raised-button>{{ 'customers_list' | translate }}</a>
            </div>
            <div class="stocks_info">
                <table class="mdl_data_table">
                    <thead>
                        <tr>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'subject' | translate }}</th>
                            <th class="center"><i class="material-icons">details</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HERO</td>
                            <td>hero</td>
                            <td class="center actions">
                                <a class="success_btn" [routerLink]="['/admin/tools/modify-newsletter', 1]" md-raised-button>{{ 'send' | translate }}</a>
                                <a class="edit_btn" [routerLink]="['/admin/tools/modify-newsletter', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                                <a class="remove_btn" md-raised-button>{{ 'remove' | translate }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-card>
    </div>