<div class="admin-price-lists-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">import_contacts</i>
            <h2>{{ 'price_list' | translate }}</h2>
        </div>
        <div class="price-lists-configuration-actions a-configuration-actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <a class="success_btn" routerLink="/admin/configuration/modify-price-list" md-raised-button>{{ 'add_new_price_list' | translate }}</a>
        </div>
        <div class="price-lists-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'currency' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Detaliczna</td>
                        <td>PLN</td>
                        <td class="center actions">
                            <button class="edit_btn" md-raised-button>{{ 'edit' | translate }}</button>
                            <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>