<div class="admin-complaints-tools-cmpt a-tools">
    <md-card>
        <div class="title">
            <i class="material-icons">cached</i>
            <h2>{{ 'complaints' | translate }}</h2>
        </div>
        <div class="complaints-tools-actions a-tools-actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
        </div>
        <div class="complaints-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'complaint_no' | translate }}</th>
                        <th>{{ 'complaint_accepted' | translate }}</th>
                        <th>{{ 'client_name' | translate }}</th>
                        <th>Status</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>0.0.0.0</td>
                        <td>hero</td>
                        <td>Przyjeta</td>
                        <td class="center">
                            <button class="edit_btn" md-raised-button>{{'update' | translate }}</button>
                            <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>