<div class="admin_modify_banner_content_management_cmpt a_configuration card_title">
    <md-card>
        <div class="title">
            <i class="material-icons">note_add</i><h2>{{ 'banner_add' | translate }}</h2>
        </div>
        <div class="page_info">

        </div>
        <form name="form" (ngSubmit)="f.form.valid && modifyBanner()" #f="ngForm" novalidate>
            <h4>{{'content' | translate }}</h4>
            <!--[(ngModel)]="staticPage?.content"-->
            <ckeditor name="content" 
                    [ngModel]="banner?.content" (ngModelChange)="banner.content=$event">
                        <ckbutton [name]="'saveButton'"
                        [command]="'saveCmd'"
                        (click)="save($event)"
                        [label]="'Save Document'"
                        [toolbar]="'clipboard,1'">
                    </ckbutton>
            </ckeditor>
            <md-input-container class="ckeditor_above">
                <input mdInput placeholder="{{ 'title' | translate }}" type="text" name="title" #title required [ngModel]="banner?.title" (ngModelChange)="banner.title=$event">
                <md-error>{{ 'title_required' | translate }}</md-error>
            </md-input-container>
            </form>
            <div class="admin_modify_banner_content_management_cmpt a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/content-management/banners" md-raised-button>{{ 'cancel' | translate }}</a>
                <button [disabled]="!f.form.valid" class="success_btn" type="submit" md-raised-button> {{ 'save' | translate }}</button>
            </div>  
    </md-card>
</div>