<div class="admin_general_configuration_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">import_contacts</i><h2>{{ 'price_list' | translate }}</h2>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && modifyElementContent()" #f="ngForm" novalidate>
                <md-input-container>
                    <input mdInput placeholder="{{ 'name' | translate }}" type="text" [ngModel]="priceList?.title" name="title">
                </md-input-container>  
                <md-select placeholder="{{ 'currency' | translate }}" class="mg_bottom">
                    <md-option>
                        EUR
                    </md-option>
                    <md-option>
                        USD
                    </md-option>
                    <md-option>
                        PL
                    </md-option>
                </md-select> 
            <div class="general_configuration_actions a_configuration_actions">
                    <a class="alert_btn back_dashboard_btn" routerLink="/admin/configuration/price-lists" md-raised-button> {{ 'cancel' | translate }}</a>
                    <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                </div>  
            </form>
    </md-card>
</div>