<div class="admin_static_pages_content_management_cmpt a_content_management card_title">
    <md-card>
        <div class="title">
            <i class="material-icons">insert_drive_file</i>
            <h2>{{ 'static_pages' | translate }}</h2>
        </div>
        <div class="static_pages_actions a_content_actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <a class="success_btn" routerLink="/admin/content-management/add-page" md-raised-button> {{ 'content_add' | translate }}</a>
        </div>
        <div class="static_pages_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>{{ 'title' | translate }}</th>
                        <th> {{ 'modification_date' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero <span class="data_property">{{ 'title' | translate }}</span></td>
                        <td>0.0.0.0 <span class="data_property">{{ 'modification_date' | translate }}</span></td>
                        <td class="center actions">
                            <a class="edit_btn" [routerLink]="['/admin/content-management/edit-page', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                            <button class="blank_btn" md-raised-button>{{ 'hide' | translate }}</button>
                            <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                            <button class="blank_btn" md-raised-button>{{ 'preview' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>