<div class="admin_modify_code_sale_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">money_off</i><h2>{{ 'promotion_code' | translate }}</h2>
        </div>
        <form name="form" novalidate>
            <div class="promo_info">
                <md-input-container>
                    <input mdInput placeholder="{{ 'campain_name' | translate }}" type="text" name="campainName" #campainName required [ngModel]="promotionCode?.campainName">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="{{ 'code' | translate }}" type="text" name="code" #code required [ngModel]="promotionCode?.code">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="{{ 'promo_products_code' | translate }}" type="text" name="productsCode" #productsCode [ngModel]="promotionCode?.productsCode">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="{{ 'manufacturer_symbols' | translate }}" type="text" name="manufacturersSymbols" #manufacturersSymbols [ngModel]="promotionCode?.manufacturersSymbols">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="{{ 'discount' | translate }}" type="number" name="discount" #discount [ngModel]="promotionCode?.discount">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="{{ 'promotion_how_many_times' | translate }}" type="number" name="usedCount" #usedCount [ngModel]="promotionCode?.usedCount">
                </md-input-container> 
                <md-checkbox name="active" [ngModel]="promotionCode?.active">{{ 'active' | translate }}</md-checkbox>
            </div>
            <div class="general_configuration_actions a_configuration_actions">
                    <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                    <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                </div>  
            </form>
    </md-card>
</div>