<div class="admin_modify_alias_sale_cmpt a_configuration">
        <md-card>
            <div class="title">
                    <i class="material-icons">tonality</i><h2>Alias</h2>
            </div>
            <form name="form" novalidate>
                <div class="promo_info">
                    <md-select placeholder="Produkt">
                        <md-option>
                                hero
                        </md-option>
                        <md-option>
                                alfa
                        </md-option>
                    </md-select>
                    <md-input-container>
                        <input mdInput placeholder="Symbol" type="text" name="symbol" #symbol required [ngModel]="productAlias?.code">
                    </md-input-container>  
                    <md-input-container>
                        <input mdInput placeholder="{{ 'category' | translate }}" type="text" name="category" #category [ngModel]="productAlias?.category">
                    </md-input-container>  
                    <md-input-container>
                        <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="name" #name [ngModel]="productAlias?.name">
                    </md-input-container>  
                    <md-input-container>
                        <input mdInput placeholder="{{ 'description' | translate }}" type="text" name="description" #description [ngModel]="productAlias?.description">
                    </md-input-container> 
                </div>
                <div class="general_configuration_actions a_configuration_actions">
                        <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                        <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                    </div>  
                </form>
        </md-card>
    </div>