<div class="admin_traders_sale_cmpt a_sale">
    <md-card>
        <div class="title">
            <i class="material-icons">account_circle</i>
            <h2>{{ 'traders' | translate }}</h2>
        </div>
        <div class="traders_sale_actions a_sale_actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <a class="success_btn" routerLink="/admin/sale/modify-trader" md-raised-button>{{ 'add_new_trader' | translate }}</a>
        </div>
        <div class="traders_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>{{ 'surname' | translate }}</th>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'phone' | translate }}</th>
                        <th>E-mail</th>
                        <th>Skype</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>hero</td>
                        <td>23213212</td>
                        <td>hero@hero.com</td>
                        <td>skajpaj</td>
                        <td class="center actions">
                            <a class="edit_btn" [routerLink]="['/admin/sale/modify-trader', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                            <button class="remove_btn" md-raised-button>{{ 'remove'| translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>