<div class="admin_shipping_configuration_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">local_shipping</i>
            <h2>{{ 'shipping_types' | translate }}</h2>
        </div>
        <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
        <div class="shipping_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'order_minimum_value' | translate }}</th>
                        <th>{{ 'order_maximum_value' | translate }}</th>
                        <th>{{ 'order_price_brutto_shipping' | translate }}</th>
                        <th class="center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Odbior osobisty</td>
                        <td>0</td>
                        <td>999</td>
                        <td>24,99zl</td>
                        <td class="center actions">
                            <button class="blank_btn" md-raised-button>{{ 'payments' | translate }}</button>
                            <button class="edit_btn" md-raised-button>{{ 'edit' | translate }}</button>
                            <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                            <button class="blank_btn" md-raised-button>{{ 'set_as_default' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>