<div class="admin-payments-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">attach_money</i>
            <h2>{{ 'payments' | translate }}</h2>
        </div>
        <div class="stocks-configuration-actions a-configuration-actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <button class="success_btn" md-raised-button>{{ 'add_new_payment' | translate }}</button>
        </div>
        <div class="payments-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'description' | translate }}</th>
                        <th class="center">Modul</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ustalenia indywidualne</td>
                        <td>Platnosc 1</td>
                        <td class="center actions">
                            <button class="edit_btn" md-raised-button>{{ 'edit' | translate }}</button>
                            <button class="remove_btn" md-raised-button>Wylacz</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>