<div class="admin_modify_code_sale_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">money_off</i><h2>{{ 'stock' | translate }}</h2>
        </div>
        <form name="form" novalidate>
            <div class="promo_info">
                <md-input-container>
                    <input mdInput placeholder="{{ 'stock_name' | translate }}" type="text" name="name" #name [ngModel]="stock?.name">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Symbol" type="text" name="symbol" #symbol [ngModel]="stock?.symbol">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="{{ 'description' | translate }}" type="text" name="description" #description [ngModel]="stock?.description">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="External Store" type="text" name="externalStore" #externalStore [ngModel]="stock?.externalStore">
                </md-input-container>  
                <md-checkbox name="mainStock" [ngModel]="stock?.active">{{ 'stock_main' | translate }}</md-checkbox>
                <md-checkbox name="skipSynch" [ngModel]="stock?.active">{{ 'skip_synch' | translate }}</md-checkbox>
            </div>
            <div class="general_configuration_actions a_configuration_actions">
                    <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                    <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                </div>  
            </form>
    </md-card>
</div>