<div class="admin_category_sorting_sale_cmpt a_configuration">
        <md-card>
            <div class="title">
                    <i class="material-icons">sort</i><h2>{{ 'category_sorting' | translate }}</h2>
            </div>
            <form name="form" novalidate>
                <div class="category_sorting">
                    <md-input-container>
                        <input mdInput type="number" name="name" #name>
                    </md-input-container>
                </div>
                <div class="general_configuration_actions a_configuration_actions">
                        <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                        <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
                    </div>  
                </form>
        </md-card>
    </div>