<div class="dialog_message_cmpt">
  <div [ngClass]="dialogMessage.type" class="type">
    <div class="dialog_message_content">
    <span class="sr-only" *ngIf="dialogMessage.icon"><i class="material-icons {{dialogMessage.icon}}">{{dialogMessage.icon}}</i></span>
    <p>{{dialogMessage.text}}</p>
    </div>
  </div>
</div>
