<div class="admin_modify_menu_content_management_cmpt a_configuration card_title">
    <md-card>
        <div class="title">
            <i class="material-icons">note_add</i><h2>{{ 'menu_add' | translate }}</h2>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && modifyMenu()" #f="ngForm" novalidate>
            <!--[(ngModel)]="staticPage?.content"-->
            <md-input-container>
                <input mdInput placeholder="{{ 'title' | translate }}" type="text" name="name" #name required [ngModel]="menu?.name" (ngModelChange)="menu.name=$event">
                <md-error>{{ 'title_required' | translate }}</md-error>
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Link" type="text" name="link" #link required [ngModel]="menu?.link" (ngModelChange)="menu.link=$event">
                <md-error>{{ 'title_required' | translate }}</md-error>
            </md-input-container>
            <div class="admin_modify_menu_content_management_cmpt a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/content-management/menus" md-raised-button>{{ 'cancel' | translate }}</a>
                <button [disabled]="!f.form.valid" class="success_btn" type="submit" md-raised-button> {{ 'save' | translate }}</button>
            </div>  
        </form>
    </md-card>
</div>