<div class="admin_orders_sale_cmpt a_sale">
    <md-card>
        <div class="title">
            <i class="material-icons">history</i>
            <h2>{{ 'orders' | translate }}</h2>
        </div>
        <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
        <div class="orders_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>{{ 'order_no' | translate }}</th>
                        <th>{{'order_date' | translate }}</th>
                        <th>{{ 'payment_date' | translate }}</th>
                        <th>{{ 'client_name' | translate }}</th>
                        <th>{{ 'company_name' | translate }}</th>
                        <th>{{ 'order_value' | translate }}</th>
                        <th>Status</th>
                        <th>{{ 'notes' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>0.0.0.0</td>
                        <td>0.0.0.0</td>
                        <td>HERO</td>
                        <td>hero company</td>
                        <td>9.00zl</td>
                        <td>hero</td>
                        <td>hero</td>
                        <td class="center actions">
                            <button class="edit_btn" md-raised-button>{{ 'update' | translate }}</button>
                            <button class="remove_btn" md-raised-button>{{ 'remove ' | translate }}</button>
                            <button class="blank_btn" md-raised-button>{{ 'print' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>