<div class="admin_clients_configuration_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">group</i>
            <h2>{{ 'clients' | translate }}</h2>
        </div>
        <form novalidate>
            <div class="clients_info">
                <md-checkbox>{{ 'use_invidual_prices' | translate }}</md-checkbox>
                <md-checkbox>{{ 'show_documents' | translate }}</md-checkbox>
                <md-checkbox>{{ 'use_groups' | translate }}</md-checkbox>
                <md-checkbox>{{ 'support_only_company' | translate }}</md-checkbox>
                <md-checkbox>{{ 'required_client_change_data_acceptation' | translate }}</md-checkbox>
                <md-checkbox #blockLoginClient>{{ 'block_clients_login' | translate }}</md-checkbox>
                <md-input-container *ngIf="blockLoginClient.checked">
                    <input mdInput placeholder="Komunikat dla klientow przy wstrzymanej mozliwosci logowania" type="text" name="message_login_block_client" value="hero">
                </md-input-container>
            </div>
            <div class="clients_configuration_actions a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button>{{ 'cancel' | translate }}</a>
                <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
            </div> 
        </form>
    </md-card>
</div>