
<div class="login_cmpt">
    <div>
        <md-card>
            <h4>{{ 'login' | translate }}</h4>
            <p>username: <b>root</b> | password: <b>root</b></p>
                <form name="form" (ngSubmit)="f.form.valid && login(f.value)" #f="ngForm" novalidate>
                    <md-input-container>
                        <input mdInput placeholder="{{ 'username' | translate }}" value="root" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                        <md-error> {{ 'username_required' | translate }}</md-error>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="{{'password' | translate}}" value="root" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                        <md-error>{{'password_required' | translate}}</md-error>
                    </md-input-container>  
                    <div class="login_actions">
                        <a routerLink="/password-remind" class="account-remender-link r_link">{{ 'forgot_password' | translate }}</a>
                        <button class="success_btn" type="submit" md-raised-button> {{ 'log_in' | translate }}</button>
                    </div>
                </form>
        </md-card>
        <div class="additional_links">
            <div class="languages">
                <a (click)="changeLang('pl')">
                    <img src="../../../assets/images/languages/pl.png" alt="pl">
                </a>
                <a (click)="changeLang('en')">
                    <img src="../../../assets/images/languages/us.png" alt="en">
                </a>
            </div>
                <!--<a routerLink="/register" class="register-link r_link">{{ 'register' | translate }}</a>-->
        </div>
    </div>
</div>






<!--<div class="login-cmpt">
<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>
      <md-card>
          <h4>Witaj na platformie B2B!</h4>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt minima eaque dolorem harum facere quibusdam dolorum. Alias magnam doloribus quia nulla commodi modi, ad vitae odit, dicta cum a iure.</span><span>Rem nesciunt dolores veniam tempora quod incidunt quasi architecto quibusdam, a ex nihil illum iusto dicta recusandae consequatur provident nemo, enim laudantium. Beatae voluptatibus nam dicta, ratione mollitia voluptatum at.</span>
            </p>
      </md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>
          <h4>Logowanie</h4>
          <p>username: <b>root</b> | password: <b>root</b></p>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <md-input-container>
                    <input mdInput placeholder="Email" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                    <md-error>Email jest wymagany.</md-error>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Haslo" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    <md-error>Haslo jest wymagane.</md-error>
                </md-input-container>                      
                <button [disabled]="!f.form.valid" class="hero" type="submit" md-raised-button>Zaloguj</button>
                </form>
      </md-card>
  </md-grid-tile>
</md-grid-list>
</div>-->


<!--<dialog-message [dialogm]="dialogm"></dialog-message>-->



<!--<div class="mdl-grid login-cmpt">
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone login-info border-shadow">
            <h4>Witaj na platformie B2B!</h4>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt minima eaque dolorem harum facere quibusdam dolorum. Alias magnam doloribus quia nulla commodi modi, ad vitae odit, dicta cum a iure.</span><span>Rem nesciunt dolores veniam tempora quod incidunt quasi architecto quibusdam, a ex nihil illum iusto dicta recusandae consequatur provident nemo, enim laudantium. Beatae voluptatibus nam dicta, ratione mollitia voluptatum at.</span>
            </p>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone login-action border-shadow">
                <h4>Logowanie</h4>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" id="login_email" required>
                    <label class="mdl-textfield__label" for="login_email">Email</label>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" id="login_password" required>
                    <label class="mdl-textfield__label" for="login_password">Password</label>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </form>
        </div>
</div>-->