<div class="mdl-layout">
<md-toolbar>
  <!--<div *ngIf="!canActivateLinks()">
    <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="!canActivateLinks()">
      <md-icon>more_vert</md-icon> <span style="font-weight: bold;">{{ 'offert' | translate }}</span>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>CATCH</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>ME</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>IF</span>
      </button>
        <button md-menu-item>
      <md-icon>dialpad</md-icon>
        <span>YOU</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>CAN</span>
      </button>
    </md-menu>
  </div>-->
      <!--<a md-button *ngIf="canActivateLinks()" (click)="hideMenu()" class="mdl-navigation__link" mdTooltip="pokaz/ukryj menu"><i class="material-icons">toc</i></a>-->
  <md-list>
    <!--<md-list-item *ngIf="!canActivateLinks()"> 
      <a routerLink="/home"><img src="assets/images/mercatum_logo.png" width="40" height="40" alt="mercatum-logo"></a>
    </md-list-item>
    <md-list-item *ngIf="canActivateLinks()"> 
      <a routerLink="/home"><img src="assets/images/mercatum_logo.png" width="40" height="40" alt="mercatum-logo"></a>
    </md-list-item>-->
    <md-list-item *ngIf="!canActivateLinks()">
        <a md-button routerLink="/login" class="mdl-navigation__link">{{ 'login' | translate }}</a>
    </md-list-item>
    <md-list-item *ngIf="canActivateLinks()">
        <a md-button [routerLink]="['admin/dashboard']" class="mdl-navigation__link"><i class="material-icons" mdTooltip="{{ 'settings' | translate }}">settings</i></a>
    </md-list-item>
    <md-list-item *ngIf="canActivateLinks()">
        <a md-button (click)="logout()" class="mdl-navigation__link"><i class="material-icons" mdTooltip="{{ 'logout' | translate }}">power_settings_new</i></a>
    </md-list-item>
  </md-list>
</md-toolbar>
<!--<router-outlet name="sidebar"></router-outlet>-->

<main [ngClass]="{'active': canActivateLinks(), 'hide-menu': toggleMenu }">
      <router-outlet></router-outlet> 
      <!--<h2 style="text-align: center; text-transform: uppercase; font-size: 42px; margin-top: 75px;">all works! #YOLO</h2>  -->
</main>
</div>

 <footer class="mdl-mega-footer">
  <div class="about-info">
    <a href="https://mjprogramming.pl" target="_blank">{{ 'contact' | translate }}</a>
    <!-- <img src="assets/images/mercatum_logo.png" width="40" height="40" alt="mercatum-logo"> -->
   </div>
   <div class="copyright-info">
      <p>Copyright © 2017</p>
   </div>
</footer>