<div class="admin_loyalty_sale_cmpt a_sale">
    <md-card>
        <div class="title">
            <i class="material-icons">loyalty</i>
            <h2>{{ 'loyalty_program' | translate }}</h2>
        </div>
        <div class="loyalty_sale_actions a_sale_actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <a class="success_btn" routerLink="/admin/sale/modify-loyalty" md-raised-button>{{ 'add_new_product' | translate }}</a>
            <button class="success_btn" md-raised-button>{{'loyalty_clients_modify' | translate }}</button>
        </div>
        <div class="loyalty_info">
            <table class="mdl_data_table">
                <thead>
                    <tr>
                        <th>{{ 'product_name' | translate }}</th>
                        <th>{{'date_added' | translate }}</th>
                        <th>{{ 'loyalty_points' | translate }}</th>
                        <th>{{ 'active' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>0.0.0.0</td>
                        <td>999</td>
                        <td>tak</td>
                        <td class="center actions">
                            <a class="edit_btn" [routerLink]="['/admin/sale/modify-loyalty', 1]" md-raised-button>{{'edit' | translate }}</a>
                            <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>