<div class="admin-stocks_configuration_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">store_mall_directory</i>
            <h2>{{ 'stocks' | translate }}</h2>
        </div>
        <form novalidate>
            <div class="stocks_info">
                <md-checkbox>{{ 'check_products_availability' | translate }}</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="{{ 'default_stock' | translate }}" type="text" name="default_stock" value="hero">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder=" {{ 'notification_product_out' | translate }}" type="text" name="message_info_when_product_unvailable" value="hero">
                </md-input-container>  
                <md-checkbox>{{ 'stock_on' | translate }}</md-checkbox>
                <md-checkbox>{{ 'stock_external_on' | translate }}</md-checkbox>
                <md-checkbox>{{ 'stock_multi_support' | translate }}</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="{{ 'stock_refresh_time' | translate }}" type="number" name="refresh_stocks_time" value="100">
                </md-input-container>
                <md-checkbox>{{ 'stock_show_status' | translate }}</md-checkbox>
                <md-checkbox>{{'stock_allow_for_replacements' | translate }}</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="{{ 'stock_pattern_availability_calculate' | translate }}" type="text" name="pattern_product_availability" value="herooo">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="{{ 'stock_pattern_availability_presentation' | translate }}" type="text" name="pattern_product_presenting" value="hero">
                </md-input-container>
                <md-checkbox>{{ 'stock_show_traders_actual_availability' | translate }}</md-checkbox>
            </div>
            <div class="stocks_configuration_actions a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
            </div>
        </form>
    </md-card>
</div>