
<div class="admin_dashboard_cmpt">
    <md-card>
<h2>{{ 'administration_panel' | translate }}</h2>

<md-tab-group>
  <md-tab label="{{ 'configuration' | translate }}">
    <a class="link-card" routerLink="/admin/configuration/general">
        <md-card>
            <i class="material-icons">build</i>
            <h6>{{ 'general' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/contact">
        <md-card>
            <i class="material-icons">account_box</i>
            <h6>{{ 'contact_details' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/settings">
        <md-card>
            <i class="material-icons">settings</i>
            <h6>{{ 'settings' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/price-lists">
        <md-card>
            <i class="material-icons">import_contacts</i>
            <h6>{{ 'price_list' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/stocks">
        <md-card>
            <i class="material-icons">store_mall_directory</i>
            <h6>{{ 'warehouses' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/clients">
        <md-card>
            <i class="material-icons">group</i>
            <h6> {{ 'clients' | translate }} </h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/payments">
        <md-card>
            <i class="material-icons">attach_money</i>
            <h6>{{ 'payments' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/shipping">
        <md-card>
            <i class="material-icons">local_shipping</i>
            <h6>{{ 'shipping_types' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/status">
        <md-card>
            <i class="material-icons">compare_arrows</i>
            <h6>{{ 'order_statuses' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/notifications">
        <md-card>
            <i class="material-icons">sms</i>
            <h6>{{ 'notifications' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/email">
        <md-card>
            <i class="material-icons">email</i>
            <h6>{{ 'email_settings' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/newsletter">
        <md-card>
            <i class="material-icons">contact_mail</i>
            <h6> {{ 'newsletter_settings' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/eventlog">
        <md-card>
            <i class="material-icons">find_in_page</i>
            <h6>{{ 'event_log' | translate }}</h6>
        </md-card>
    </a>
     <a class="link-card" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">insert_drive_file</i>
            <h6>{{ 'diagnostic_file' | translate }}</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="{{ 'tools' | translate }}">
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">tab_unselected</i>
            <h6>SEO</h6>
        </md-card>
    </a>
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">exit_to_app</i>
            <h6>Exporter</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/tools/complaints">
        <md-card>
            <i class="material-icons">cached</i>
            <h6>{{ 'complaints' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/tools/newsletter">
        <md-card>
            <i class="material-icons">email</i>
            <h6>Newsletter</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="{{ 'sale' | translate }}">
    <a class="link-card" routerLink="/admin/sale/clients">
        <md-card>
            <i class="material-icons">group</i>
            <h6>{{ 'clients' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/orders">
        <md-card>
            <i class="material-icons">history</i>
            <h6> {{ 'orders' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/promotion-codes">
        <md-card>
            <i class="material-icons">money_off</i>
            <h6>{{ 'promo_codes' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/modify-product">
        <md-card>
            <i class="material-icons">add_box</i>
            <h6>{{ 'product_add' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/products">
        <md-card>
            <i class="material-icons">collections_bookmark</i>
            <h6>{{ 'products' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/stocks">
        <md-card>
            <i class="material-icons">store_mall_directory</i>
            <h6> {{ 'warehouses' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/product-aliases">
        <md-card>
            <i class="material-icons">tonality</i>
            <h6>{{ 'aliases_of_products' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/categories-sort">
        <md-card>
            <i class="material-icons">sort</i>
            <h6>{{ 'category_sorting' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/traders">
        <md-card>
            <i class="material-icons">account_circle</i>
            <h6>{{ 'traders' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/loyalty">
        <md-card>
            <i class="material-icons">loyalty</i>
            <h6>{{ 'loyalty_program' | translate }}</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="{{ 'content_management' | translate }}">
    <a class="link-card" routerLink="/admin/content-management/news">
        <md-card>
            <i class="material-icons">assignment</i>
            <h6>{{ 'news' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/static-pages">
        <md-card>
            <i class="material-icons">insert_drive_file</i>
            <h6>{{ 'static_pages' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/site-elements">
        <md-card>
            <i class="material-icons">tab_unselected</i>
            <h6>{{ 'site_elements' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/banners">
        <md-card>
            <i class="material-icons">collections</i>
            <h6>{{ 'banners' | translate }}</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/menus">
        <md-card>
            <i class="material-icons">menu</i>
            <h6>Menu</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/add-section">
        <md-card>
            <i class="material-icons">insert_drive_file</i>
            <h6>{{ 'section' | translate }}</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="{{ 'news' | translate }}">
        <md-card class="news">
            <md-card-header>
                <div md-card-avatar class="example-header-image">
                    <img src="../../assets/images/angular_logo.png" alt="angular" style="width: 35px;">
                </div>
                <md-card-title>Lorem ipsum</md-card-title>
                <md-card-subtitle>angular 4 b2b</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illo, reprehenderit pariatur repellendus doloribus autem fuga consequuntur quo minus esse facere provident sit molestias vitae dolorum perspiciatis necessitatibus laudantium dolorem!
                </p>
            </md-card-content>
            <!--<md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>-->
        </md-card>
        <md-card class="news">
            <md-card-header>
                <div md-card-avatar class="example-header-image">
                    <img src="../../assets/images/angular_logo.png" alt="angular" style="width: 35px;">
                </div>
                <md-card-title>Lorem ipsum</md-card-title>
                <md-card-subtitle>angular 4 b2b</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illo, reprehenderit pariatur repellendus doloribus autem fuga consequuntur quo minus esse facere provident sit molestias vitae dolorum perspiciatis necessitatibus laudantium dolorem!
                </p>
            </md-card-content>
        </md-card>
  </md-tab>
</md-tab-group>
    </md-card>
</div>