
<div class="dialog_confirm_wrapper">
    <md-dialog-content>{{ 'confirm_message' | translate }}</md-dialog-content>
    <md-dialog-actions>
        <button md-button md-dialog-close>No</button>
        <!-- Can optionally provide a result for the closing dialog. -->
        <button md-button [md-dialog-close]="true">Yes</button>
    </md-dialog-actions>
</div>