<div class="admin-status-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">compare_arrows</i>
            <h2>{{ 'order_statuses' | translate }}</h2>
        </div>
        <div class="status-configuration-actions a-configuration-actions">
            <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
            <button class="success_btn" md-raised-button>{{ 'add_new_status' | translate }}</button>
        </div>
        <div class="status-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'description' | translate }}</th>
                        <th>{{ 'notifications_email' | translate }}</th>
                        <th>{{ 'order_finals' | translate }}</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Przyjete do realizacji</td>
                        <td>hero</td>
                        <td>+</td>
                        <td>+</td>
                        <td class="center">
                            <md-select placeholder="Status">
                                <md-option>Anulowane</md-option>
                            </md-select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>