<div class="admin_modify_product_sale_cmpt a_sale">
    <form novalidate enctype="multipart/form-data">
            <div class="account-personal-info">
    <md-card>
        <!--<h4> First content</h4>-->
        <md-input-container>
            <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="name" #name ngModel required>
            <md-error>{{ 'name_required' | translate }}</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Symbol" type="text" name="symbol" #symbol ngModel required>
            <md-error>{{ 'symbol_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="firstName" #firstName ngModel required>
            <md-error>{{ 'name_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'u_m' | translate }}" type="text" name="unitName" #unitName ngModel required>
            <md-error>{{ 'unitName_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="VAT" type="number" min="0" max="100" name="vat" #vat ngModel>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'retail_price' | translate }}" type="number" name="retailPrice" #retailPrice ngModel>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'netto_price' | translate }}" type="number" name="nettoPrice" #nettoPrice ngModel required>
            <md-error>{{ 'netto_price_required' | translate }}</md-error>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'brutto_price' | translate }}" type="number" name="bruttoPrice" #bruttoPrice ngModel required>
            <md-error>{{ 'brutto_price_required' | translate }}</md-error>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'discount' | translate }}" type="number" min="0" max="100" name="number" #discount ngModel>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'availability' | translate }}" type="number" min="0" name="availability" #availability ngModel>
            <md-error>{{ 'availability_required' | translate }}</md-error>
        </md-input-container>
        <md-checkbox name="isAvail" #isAvail>{{'availability_product' | translate }}</md-checkbox>
      </md-card>
     </div>
     <div class="account-company-info">
        <md-card>
            <!--<h4>Second content</h4>-->
            <div class="product_statuses">
                <md-checkbox name="sale" #sale>{{'sale' | translate }}</md-checkbox>
                <md-checkbox name="pnew" #new>{{'new' | translate }}</md-checkbox>
                <md-checkbox name="promo" #promo>{{'promotion' | translate }}</md-checkbox>
            </div>
            <div class="image">
                <h4>{{'image' | translate }}</h4>
                    <img id="main_image_preview" />
                <input type="file" onchange="document.getElementById('main_image_preview').src = window.URL.createObjectURL(this.files[0])" accept="image/x-png,image/gif,image/jpeg" name="image" #image ngModel>
            </div>
            <div class="images">
                <h4>{{'Images' | translate }}</h4>
                <ul #imagesPreview>
                    
                </ul>
                <input type="file" multiple (change)="uploadImagesPreview(imagesPreview, images)" name="images" accept="image/x-png,image/gif,image/jpeg" #images>
            </div>
            <div class="a_sale_actions">
                <div class="general_configuration_actions a_configuration_actions">
                    <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'cancel' | translate }}</a>
                    <button class="success_btn" type="submit" md-raised-button>{{ 'save' | translate }}</button>
                </div>
             </div>
      </md-card>
     </div>
    </form>
</div>