<div class="admin_notifications_configuration a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">sms</i>
            <h2>{{ 'notifications' | translate }}</h2>
        </div>
        <form novalidate>
            <div class="notifications_info">
                <md-checkbox>{{ 'notification_order_change' | translate }}</md-checkbox>
                <md-checkbox>{{ 'notification_order_synch' | translate }}</md-checkbox>
                <md-checkbox>{{ 'notifaction_client_register' | translate }}</md-checkbox>
                <md-checkbox>{{ 'notification_store_register' | translate }}</md-checkbox>
                <md-checkbox>{{ 'notification_update_profile' | translate }}</md-checkbox>
                <md-checkbox>{{ 'notification_fav_pdf' | translate }}</md-checkbox>
                <md-checkbox>{{ 'notification_fav_xml' | translate }}</md-checkbox>
            </div>
            <div class="notifications_configuration_actions a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button>{{ 'cancel' | translate }}</a>
                <button class="success_btn" md-raised-button>{{ 'save' | translate }}</button>
            </div>  
        </form>
    </md-card>
</div>