<div class="password-reminder-cmpt">
    <md-card>
        <h2>{{ 'remind_password' | translate }}</h2>
        <form>
            <md-input-container>
                    <input mdInput placeholder="Email" type="text" name="email" #email required>
                    <md-error>{{ 'email_required' | translate }}</md-error>
            </md-input-container>
        </form>
        <div class="password-reminder-actions">
            <button class="hero" [disabled]=[!email.value] md-raised-button>{{ 'remind_password' | translate }}</button>
        </div>
    </md-card>
</div>