<div class="admin_modify_loyalty_sale_cmpt a_configuration card_title">
        <md-card>
            <div class="title">
                <i class="material-icons">note_add</i><h2>{{ 'add' | translate }}</h2>
            </div>
            <div class="page_info">
    
            </div>
            <form name="form" (ngSubmit)="f.form.valid && modifyLoyalty()" #f="ngForm" novalidate>
                <h4>{{'content' | translate }}</h4>
                <!--[(ngModel)]="staticPage?.content"-->
                <ckeditor name="content" 
                        [ngModel]="loyalty?.content" (ngModelChange)="loyalty.content=$event">
                            <ckbutton [name]="'saveButton'"
                            [command]="'saveCmd'"
                            (click)="save($event)"
                            [label]="'Save Document'"
                            [toolbar]="'clipboard,1'">
                        </ckbutton>
                </ckeditor>
                <md-input-container class="ckeditor_above">
                    <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="name" #name required [ngModel]="loyalty?.name">
                    <md-error>{{ 'name_required' | translate }}</md-error>
                </md-input-container>
                <md-input-container>
                        <input mdInput placeholder="{{ 'points' | translate }}" type="number" name="points" #points [ngModel]="loyalty?.points">
                    </md-input-container>
                <md-checkbox name="visible" [ngModel]="visible?.visible">{{ 'active' | translate}}</md-checkbox>
                </form>
                <div class="admin_modify_banner_content_management_cmpt a_configuration_actions">
                    <a class="alert_btn" routerLink="/admin/sale/loyalty" md-raised-button>{{ 'cancel' | translate }}</a>
                    <button [disabled]="!f.form.valid" class="success_btn" type="submit" md-raised-button> {{ 'save' | translate }}</button>
                </div>  
        </md-card>
    </div>