<div class="admin_newsletter_addresses_tools_cmpt a_sale">
        <md-card>
            <div class="title">
                <i class="material-icons">email</i>
                <h2>Newsletter</h2>
            </div>
            <div class="stocks_sale_actions a_sale_actions">
                <a class="blank_btn" routerLink="/admin/tools/newsletter" md-raised-button> {{ 'back' | translate }}</a>
            </div>
            <div class="stocks_info">
                <table class="mdl_data_table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>{{ 'registration_date' | translate }}</th>
                            <th class="center"><i class="material-icons">details</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HERO</td>
                            <td>hero</td>
                            <td class="center actions">
                                <a class="remove_btn" md-raised-button>{{ 'remove' | translate }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-card>
    </div>