<div class="admin_modify_section_content_management_cmpt a_configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">note_add</i><h2>{{ 'add_new_section' | translate }}</h2>
        </div>
        <div class="page_info">

        </div>
        <form name="form" (ngSubmit)="f.form.valid && modifyElementContent()" #f="ngForm" novalidate>
            <h4>{{'content' | translate }}</h4>
            <!--[(ngModel)]="staticPage?.content"-->
            <ckeditor name="content" 
                    [ngModel]="section?.content" (ngModelChange)="section.content=$event">
                        <ckbutton [name]="'saveButton'"
                        [command]="'saveCmd'"
                        (click)="save($event)"
                        [label]="'Save Document'"
                        [toolbar]="'clipboard,1'">
                    </ckbutton>
            </ckeditor>
            <md-input-container class="ckeditor_above">
                <input mdInput placeholder="{{ 'title' | translate }}" type="text" name="title" #title required [ngModel]="section?.title" (ngModelChange)="section.title=$event">
                <md-error>{{ 'title_required' | translate }}</md-error>
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="{{ 'name_in_menu' | translate }}" type="text" name="menu" #menu [ngModel]="section?.menu" (ngModelChange)="section.menu=$event">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Slug" type="text" name="slug" #menu [ngModel]="section?.slug" (ngModelChange)="section.slug=$event">
            </md-input-container>
            <md-checkbox>{{'section_has_description' | translate }}</md-checkbox>
            <md-checkbox>{{'section_has_metatags' | translate }}</md-checkbox>
            <md-checkbox>{{'section_has_url' | translate }}</md-checkbox>
            <md-checkbox>{{'section_has_date' | translate }}</md-checkbox>
            <md-checkbox>{{'section_has_tags' | translate }}</md-checkbox>
            <md-checkbox>{{'section_has_sort' | translate }}</md-checkbox>
            </form>
            <div class="admin_modify_section_content_management_cmpt a_configuration_actions">
                <a class="alert_btn" routerLink="/admin/dashboard" md-raised-button>{{ 'cancel' | translate }}</a>
                <button [disabled]="!f.form.valid" class="success_btn" type="submit" md-raised-button> {{ 'save' | translate }}</button>
            </div>  
    </md-card>
</div>