<div class="admin_products_sale_cmpt a-sale">
        <md-grid-list cols="1" rowHeight="1:1">
            <md-card>
              <h4 style="display: inline-block;"><i class="material-icons">tonality</i>{{ 'aliases_of_products' | translate }}</h4>
              <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
              <a class="success_btn" routerLink="/admin/sale/modify-alias" md-raised-button>{{'add_new_alias' | translate }}</a>
              <a class="success_btn" md-raised-button>{{ 'download_sheet' | translate }}</a>
              <div>
              <md-input-container class="search_wrapper">
                  <input type="text" placeholder="{{ 'search' | translate }}" (keyup)="searchListener(search.value, $event.keyCode)" mdInput #search>
                  <md-icon mdSuffix style="cursor: pointer;" (click)="filterTable(search.value)">search</md-icon>
              </md-input-container>  
              <!-- <ul class="pagination">
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
              </ul> -->
              </div>
        <table class="mdl-data-table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>{{ 'manufacturer' | translate }}</th>
              <th>{{ 'product_name' | translate }}</th>
              <th>{{ 'product_base' | translate }}</th>
              <th>{{ 'price' | translate }}</th>
              <th class="center"><i class="material-icons">details</i></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products" #productRow>
              <td><img src="../../../assets/images/products/{{product.image}}.jpg" class="product_image_preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">zdjecie</span></td>
              <td>{{product.symbol}}<span class="data-property">symbol</span></td>
              <td class="product_name"><a class="r_link" [routerLink]="['/customer/product', product.productID]" mdTooltip="moze opis skrocony tutaj?">{{product.name}}</a><span class="data-property">nazwa produktu</span></td>
              <td class="product_retail_price">{{product.retailPrice}} zł <span class="data-property">cena detaliczna</span></td>
              <td class="product_price_netto">{{product.priceNetto}} zł<span class="data-property">cena netto</span></td>
              <td class="product_price_brutto">{{product.priceBrutto}} zł<span class="data-property">cena brutto</span></td>
              <td class="center actions">
                <button [ngClass]="product.sale ? 'success_btn' : 'blank_btn'" (click)="changeProductStatus(product.productID, 'sale')" md-raised-button>Wyprzedaź</button>
                <button [ngClass]="product.promo ? 'success_btn' : 'blank_btn'" (click)="changeProductStatus(product.productID, 'promo')" md-raised-button>Promowany</button>
                <button [ngClass]="product.pnew ? 'success_btn' : 'blank_btn'" (click)="changeProductStatus(product.productID, 'new')" md-raised-button>Nowosc</button>
                <span class="data-property"><i class="material-icons">details</i></span>
              </td>
            </tr> -->
            <tr #productRow>
                <td>hero</td>
                <td>hero man</td>
                <td>product</td>
                <td>base product</td>
                <td>9.99</td>
                <td class="center actions">
                    <a class="edit_btn" [routerLink]="['/admin/sale/modify-alias', 1]" md-raised-button>{{ 'edit' | translate }}</a>
                    <button class="remove_btn" md-raised-button>{{ 'remove' | translate }}</button>
                </td>
                </tr>
          </tbody>
        </table>
        </md-card>
        </md-grid-list> 
        </div>