@import './assets/sass/variables.scss';
@import './assets/sass/mixins.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//layout --start
.mat-toolbar{
    background-color: #146dc5;
    border-bottom: 1px solid #fff;
}

body{
    margin: 0;
}

main{
    padding: 20px;
    min-height: 799px;
}

h1,h2,h3,h4,h5,h6,p,span,a, th, td{
    @include ubuntu;
}

.r_link{
    color: #000;
    transition: all 0.5s;
}

.r_link:hover{
    color: $front_red;
}

@-webkit-keyframes refresh{
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

.mdl-data-table,
.mdl_data_table{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    width: 100%;
    thead{
        padding-bottom: 3px;
    }

    th{
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        height: 48px;
        font-size: 12px;
        padding-bottom: 8px;
        box-sizing: border-box;
        text-align: left;
        padding: 5px 5px;
    }
    .center{
        text-align: center;
    }

    tbody{
        tr{
            position: relative;
            height: 48px;
            transition-duration: .28s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-property: background-color;
        }
        td{
            position: relative;
            height: 48px;
            border-top: 1px solid rgba(0,0,0,.12);
            border-bottom: 1px solid rgba(0,0,0,.12);
            padding: 12px 5px;
            box-sizing: border-box;
            vertical-align: middle;
            text-align: left;
        }
    }
    
    a{
        text-decoration: none;
        transition: all 0.5s;
    }
}

th.sort{
    cursor: pointer;
    user-select: none;
}

th.sort_active i{
    color: $front_red;
}

.ckeditor_above{
    margin-top: 20px;
}

md-toolbar {
    .mat-list{
            position: absolute;
            display: inline-block;
            display: -webkit-inline-box;
            right: 10px;
            padding: 8px;
            a{
                color: #fff;
            }
    }
}

// footer --start
.mdl-mega-footer{
    width: 100%;
    position: absolute;
    background-color: #212121;
    text-align: center;
    color: #fff;
    .copyright-info{
        p{
            font-size: 10px;
            color: #ccc;
        }
    }
    .about-info{
        text-align: right;
        margin-right: 50px;
        margin-top: 15px;
        a{
            color: #ccc;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}
//footer --end
//layout --end

// home component --start
.home_cmpt {
    .home_header{
        text-align: center;
        font-size: 60px;
        margin-top: 80px;
        p{
            font-size: 60px;
        }
    }
}
//home component --end

//login-component --start
.login_cmpt{
    .mat-card{
        width: 23%; 
        margin: 0 auto;
        padding: 50px 30px;
    }
    .mat-input-container{
        width: 100%;
    }
    .login_actions{
        margin-top: 40px;
        .account-remender-link{
            font-size: 13px;
            text-decoration: none;
            // color: #000;
        }
        button{
            float: right;
        }
    }
    .additional_links{
        width: 25%; 
        margin: 0 auto;
        margin-top: 10px;
        a{
            font-size: 13px;
            text-decoration: none;
            // color: #000;
            float: right;
            margin-top: 15px;
        }
    }
    .border-shadow{
        @include border-shadow;
        // background-color: $white;
    }
    h4{
        font-size: 36px;
    }
    .languages{
        float: left;
        a{
            margin-left: 5px;
            cursor: pointer;
        }
    }
}
//login-component --end


//dialog cmpt--start
.dialog_message_cmpt{
    .type{
        padding: 40px;
        min-height: 100px;
        text-align: center;
        min-width: 400px;
        color: $white;
    }
    .material-icons{
        font-size: 35px;
    }
    @include status_colors;
}
//dialog cmpt--end

//dialog-confirm --start
.dialog_confirm_wrapper{
    padding: 40px;
}


/* admin */

//admin-dashboard-cmpt --start
.admin_dashboard_cmpt{
    div{
        a.disabled{
            cursor: not-allowed;
        }
        md-card:not(.news){
                display: inline-block;
                text-align: center;
                margin-top: 5px;
                i{
                    transition: all 0.5s;
                    font-size: 38px;
                }
                h6{
                    margin-top: 10px;
                }
            }
    }
    .link-card md-card{
      @include transition_easy;
    }
    .link-card h6{
        font-size: 16px;
    }
    .link-card md-card:hover i,
    .link-card md-card:hover h6,{
        color: $front_red;
    }
}

@media(min-width: 929px){
    .admin_dashboard_cmpt{
    div{
        md-card:not(.news){
                width: 8%;
            }
        }
    }
}

//products-list cmpt--start
.admin_products_sale_cmpt {
    .pagination{
        text-align: right;
        width: 79%;
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            cursor: pointer;
            padding: 8px;
            a{
                padding: 8px;
            }
        }
    }
    .mdl-data-table tbody td{
        img{
            width: 100px;
        }
    } 
}


//admin_static_pages_content_management_cmpt --start
.admin_modify_page_content_management_cmpt,
.admin_modify_element_content_management_cmpt{
    md-input-container{
        display: block;
    }
    @include card_title;
}

.admin_modify_menu_content_management_cmpt{
    md-input-container{
        display: block;
    }
}

.card_title{
    @include card_title;
}

//admin-general-configuration-cmpt --start
.a-configuration, .a-tools, .a-sale, .a_sale,
.a-content-management, .a_content_management,
.a_configuration{
    @include card_title;
    md-input-container:not(.search_wrapper){
        display: block;
    }
    md-checkbox{
        display: block;
        margin: 10px 0;
    }
}

.a_configuration_actions{
    margin-top: 10px;
}

//action buttons
.mat-raised-button:not([disabled]):not(.blank_btn){
    color: #fff;
}

.success_btn{
    background-color: $success;
}
.edit_btn{
    background-color: #146dc5;
}
.remove_btn, .alert_btn{
    background-color: #e23237;
}
.blank_btn{
    color: #000;
}

/* admin mobile styles, admin @media queries */

@media(max-width: 720px){
    .admin_dashboard_cmpt{
        div{
            md-card{
                    width: 30%;
                }
        }
        .mat-tab-body-content{
            text-align: center;
        }
    }
}

@media(max-width: 480px){
    main{
        margin-left: 40px;
    }
    .admin_dashboard_cmpt{
        h2{
            font-size: 18px;
            text-align: center;
        }
        div{
            md-card{
                    width: 50%;
                }
        }
    }
}


snack-bar-container {
    &.errorSnackBar, &.successSnackBar {
        height: auto; 
        min-width: initial;
    }

    &.success {
        background: $success;
    }   
 
    &.info {        
        background: $info
    }

    &.warning {        
        background: $warning;
    }

    &.alert {        
        background: $alert;
    }
 
    .mat-simple-snackbar .mat-simple-snackbar-message {
        white-space: normal; 
        font-size: 16px;
        font-weight: bold;
    }
}

@media(max-width: 769px){
    .mdl-data-table, .mdl_data_table{
        th{
            display: none;
        }
        tr{
            margin-top: 20px;
            display: inline;
        }
        tbody,td{
            display:block;
        }
        tbody{
            td{
                .mat-input-container{
                    widows: 100%;
                }
            }
            td.actions{
                // margin-bottom: 20px;
            }
        }
        .data-property, .data_property{
            text-transform: uppercase;
            position: absolute;
            right: 0;
            border: 0;
            bottom: 0;
            bottom: 5px;
            color: #ccc;
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

@media(min-width: 769px){
    .mdl-data-table, .mdl_data_table{
        .data-property, .data_property{
            display: none;
        }
    }
}

@media(max-width: 489px){
    .mdl-data-table, .mdl_data_table{
        .actions{
            margin-bottom: 130px;
            button{
                display: block;
                width: 100%;
            }
        }
    }
}


.settings-cmpt{
    .mat-card{
        margin: 20px;
    }
    .single-set{
        md-input-container{
            margin-left: 20px;
        }
        .description{
            cursor: help;
        }
        .group{
            position: absolute;
            right: 0;
            text-transform: uppercase;
            right: 10px;
            bottom: 10px;
            font-size: 12px;
        }
    }
    .save-btn{
        margin: 20px;
    }
    .hide{
        display: none;
    }
}

.admin_products_sale_cmpt {
    .pagination{
        text-align: right;
        width: 79%;
        display: inline-block;
        li{
            list-style: none;
            display: inline-block;
            cursor: pointer;
            padding: 8px;
            border-right: 1px solid #ccc;
            a{
                padding: 8px;
            }
        }
        .active{
            font-weight: bold;
        }
        li:last-child{
            border-right: none;
        }
    }
}

.admin_modify_product_sale_cmpt{
    form{
        @include display_flex;
        width: 100%;
    }
    form >div{
        width: 100%;
    }
    .mat-card{
        md-input-container{
            width: 100%;
            display: block;
        }
        .conditions{
            padding-top: 10px;
            margin-top: 25px;;
        }
        .product_statuses{
            md-checkbox{
                .mat-checkbox-inner-container{
                    margin-right: 8px;
                }
            }
        }
    }
    #main_image_preview{
        max-width: 525px;
        max-height: 700px;
        display: block;
        margin-bottom: 20px;
    }
    .images{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 5px;
                img{
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
    }
}

md-checkbox span{
    user-select: none;
}

.product_image_preview{
    cursor: zoom-in;
} 


.image_preview_wrapper{
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    .image_holder{
        margin: 0 auto;
        position: relative;
    }
    .close{
        display: block;
        position: absolute;
        right: 0;
        top: -25px;
        color: #fff;
        right: 0;
        font-size: 25px;
        cursor: pointer;
    }
    .download{
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: -25px;
        right: 0;
    }
    .navigate{
        color: #fff;
        position: absolute;
        user-select: none;
        top: 50%;
        font-size: 55px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }
    .navigate_prev{
        left: -10%;
        margin-right: 50px;
    }
    .navigate_next{
        right: -10%;
        margin-left: 50px;
    }
    .image_name{
        color: #fff;
        position: absolute;
        bottom: -30px;
        font-size: 14px;
    }
}

/* Add Animation */
.image_preview_wrapper, .image_holder {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.admin_modify_product_sale_cmpt .image_preview {
    display: inline-block;
}

.mg_bottom{
    margin-bottom: 25px;
}

md-dialog-container{
    padding: 0 !important;
}