<div class="admin-eventlog-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">find_in_page</i>
            <h2>{{ 'event_log' | translate }}</h2>
        </div>
        <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'occurrence_date' | translate }}</th>
                    <th>Adres IP</th>
                    <th>{{ 'event_name' | translate }}</th>
                    <th>{{ 'event_description' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2017-08-03 11:42:21</td>
                    <td>94.254.165.7</td>
                    <td>hero</td>
                    <td>hero</td>
                </tr>
            </tbody>
        </table>
    </md-card>
</div>