<div class="home_cmpt">
    <div class="home_header">
        <p>Angular 4 B2B Administration panel</p>
        <img src="assets/images/angular_logo.png" width="400" height="400"  alt="angular-logo">
    </div>
</div>