<div class="admin_products_sale_cmpt a-sale">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card>
      <h4 style="display: inline-block;"><i class="material-icons">collections_bookmark</i>{{ 'products' | translate }}</h4>
      <a class="blank_btn" routerLink="/admin/dashboard" md-raised-button> {{ 'back' | translate }}</a>
      <div>
      <md-input-container class="search_wrapper">
        <!--<input mdInput placeholder="Szukaj..." type="search" name="search" #search [(ngModel)]="searchString">-->
        <!--<input mdInput placeholder="Szukaj..." type="search" name="search" #search (keyup)="filterTable($event.target.value)">-->
          <input type="text" placeholder="{{ 'search' | translate }}" (keyup)="searchListener(search.value, $event.keyCode)" mdInput #search>
          <md-icon mdSuffix style="cursor: pointer;" (click)="filterTable(search.value)">search</md-icon>
      </md-input-container>  
      <ul class="pagination">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
      </ul>
      </div>
<table class="mdl-data-table">
  <thead>
    <tr>
      <th>{{ 'image' | translate }}</th>
      <th>Symbol</th>
      <th>{{ 'name' | translate }}</th>
      <th class="sort" (click)="sort('retailPrice')" [ngClass]="{sort_active: sortType == 'retailPrice'}">{{ 'retail_price' | translate }}<i class="material-icons">sort</i></th>
      <th class="sort" (click)="sort('priceNetto')" [ngClass]="{sort_active: sortType == 'priceNetto'}">{{ 'netto_price' | translate }}<i class="material-icons">sort</i></th>
      <th class="sort" (click)="sort('priceBrutto')" [ngClass]="{sort_active: sortType == 'priceBrutto'}">{{ 'brutto_price' | translate }}<i class="material-icons">sort</i></th>
      <th class="center"><i class="material-icons">details</i></th>
    </tr>
  </thead>
  <tbody>
    <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products" #productRow>
    <!--<tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products; trackBy">-->
      <td><img src="../../../assets/images/angular_logo.png" class="product_image_preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>
      <td>{{product.symbol}}<span class="data-property">symbol</span></td>
      <td class="product_name"><a class="r_link" [routerLink]="['/customer/product', product.productID]" mdTooltip="moze opis skrocony tutaj?">{{product.name}}</a><span class="data-property">{{ 'name' | translate }}</span></td>
      <td class="product_retail_price">{{product.retailPrice}} zł <span class="data-property">{{ 'retail_price' | translate }}</span></td>
      <td class="product_price_netto">{{product.priceNetto}} zł<span class="data-property">{{ 'netto_price' | translate }}</span></td>
      <td class="product_price_brutto">{{product.priceBrutto}} zł<span class="data-property">{{ 'brutto_price' | translate }}</span></td>
      <td class="center actions">
        <button [ngClass]="product.sale ? 'success_btn' : 'blank_btn'" (click)="changeProductStatus(product.productID, 'sale')" md-raised-button>{{ 'sale' | translate }}</button>
        <button [ngClass]="product.promo ? 'success_btn' : 'blank_btn'" (click)="changeProductStatus(product.productID, 'promo')" md-raised-button>{{ 'promotion' | translate }}</button>
        <button [ngClass]="product.pnew ? 'success_btn' : 'blank_btn'" (click)="changeProductStatus(product.productID, 'new')" md-raised-button>{{ 'newest' | translate }}</button>
        <span class="data-property"><i class="material-icons">details</i></span>
      </td>
    </tr>
  </tbody>
</table>
</md-card>
</md-grid-list> 
</div>